.board-wrapper {
  width: 100%;
  display: flex;

  .board {
    padding: 12px;
    margin: 12px;
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 0px 6px 2px rgba(10, 180, 200, 0.75);
      cursor: pointer;
    }

    input[type='text'] {
      border: 2px solid #aaa;
      border-radius: 4px;
      margin: 8px 4px;
      outline: none;
      padding: 8px;
      box-sizing: border-box;
      transition: 0.3s;

      &:focus {
        border-color: dodgerblue;
        box-shadow: 0 0 8px 0 dodgerblue;
      }
    }
  }
}
