.list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .list {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px 15px 10px;
    min-width: 350px;

    .card {
      background-color: #fff;
      border: 1px solid #ccc;
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;

      button {
        float: right;
      }

      ul {
        margin-left: 18px;

        li {
          margin: 4px 0;
          float: left;
          clear: both;
        }
      }
    }
  }

  span {
    font-style: italic;
  }
}
